.link-button {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
.link-button:hover,
.link-button:focus {
    text-decoration: none;
}